##Importing Libraires

In [2]:
import pandas as pd
import numpy as np

##Loading Dataset of Diabetes

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
Diabetes_dataset=pd.read_csv('/content/drive/MyDrive/diabetes.csv')

In [6]:
Diabetes_dataset.head()
#Zero ---> non_diabetics 
#One ----> diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
Diabetes_dataset.shape

(768, 9)

In [8]:
Diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
Diabetes_dataset['Outcome'].value_counts() # well fair amount of values present b/w diabetic and non_diabetic pateints i.e 268 vs 500 repectively

0    500
1    268
Name: Outcome, dtype: int64

In [12]:
Diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [13]:
#Splitting into X and y , independent and dependent varaible
X=Diabetes_dataset.drop(columns='Outcome',axis=1)
y=Diabetes_dataset['Outcome']

##Feature Scalling

####See the dataset above all columns have diverse range of values that have large differnces so we need to normilize the dataset before training

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
sc=StandardScaler()

In [20]:
sc.fit(X)

StandardScaler()

In [23]:
X_transformed=sc.transform(X)
print(X_transformed)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [24]:
X=X_transformed
y=Diabetes_dataset['Outcome']

##Train_Test_split

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2 , random_state=51)

In [27]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(614, 8) (154, 8) (614,) (154,)

##Training Model--->  SVM Classification Model

In [28]:
from sklearn.svm import SVC

In [29]:
classifier=SVC(kernel='linear')

In [30]:
classifier.fit(X_train , y_train)

SVC(kernel='linear')

In [31]:
classifier.score(X_test, y_test)

0.7857142857142857

##Making Predictions

In [40]:
input_data=(7,107,74,0,0,29.6,0.254,31)
predict_diabetes=np.asarray(input_data)
reshaped_data_for_prediction=predict_diabetes.reshape(1,-1)
sc.transform(reshaped_data_for_prediction) #imp as we transfomred it before use same function here 

prediction= classifier.predict(reshaped_data_for_prediction)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [41]:
print(prediction)

[1]

In [43]:
if prediction[0]==0:
  print("No diabetic desease")
else:
  print("Diabeties Found")

Diabeties Found

#END